

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Contact</title>


    <!-- Bootstrap core CSS -->
      {% load staticfiles %}
      <link href="{%static 'Contact/css/bootstrap.min.css'}%" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
      {% load staticfiles %}
    <link href="{% static 'Contact/css/cover.css'%}" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">

              <nav>
                <ul class="nav masthead-nav">
                  <li class="/"><a href="#">Home</a></li>
                  <li><a href="/blog">Blog</a></li>
                  <li class="active"><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="col-sm-4">
                          <h2>Contact Me</h2>
                          <address>
                              <strong>Irina Alexandra Orzan</strong>
                              <br>London, N1

                              <br>
                          </address>
                          <address>
                              <abbr title="Phone">T:</abbr>  07375 872 873
                              <br>
                              <abbr title="Email">E:</abbr> <a href="mailto:#">irina.a.orzan@gmail.com</a>
                              <br>
                              <br>
                              <a href="https://github.com/Fumigenna" target="_blank">GitHub</a>
                              <br>
                              <a href="https://www.linkedin.com/in/irina-alexandra-orzan-7845291b" target="_blank">LinkedIn</a>
                              <br>
                              <br>

                                  <a href="#" target="_blank"><span class="glyphicon glyphicon-download"></span>Download my CV</a>

                          </address>
                      </div>
<div class="download">
<br>
    {%load staticfiles%}
  <img src="{%static 'contact/me.jpg'%}" class="img-thumbnail" alt="Me" width="250" height="236">

</div>


        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    {%load staticfiles%}
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


  </body>
</html>
